.navbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 128px;
    transition: .25s;
    padding: 0 1.5em !important;
    background-color: white;
}

.navbar-transparent {
    background-color: transparent !important;
}

.navbar-active {
    border-bottom: 1px solid rgba(39, 40, 44, 0.2);
    z-index: 2;
}

body.chakra-ui-dark {
    .navbar-wrapper {
        background-color: #1a202c;
    }

    .navbar-active {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}